* {
    box-sizing: border-box;
}

body {
    display: grid;
}

.content {
    text-align: center;
    margin: auto;
}

.qr-container {
    border-radius: 75px;
    height: auto;
}

.image-qr{
    border-radius: 10px;
    width: auto;
    height: auto;

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}